{{#> sitter title="Profile"}}
<div class="card mx-5 my-5">
        <article class="card-body p-5">
            <h4 class="card-title mb-4 mt-1">Edit Profile</h4>

            <form action="/account/edit" method="POST" class="validated-form" novalidate>
                 <div class="form-group row">
                <label for="username" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                    <input name="username" readonly class="form-control-plaintext" placeholder="Pet Owner Username"
                        type="text" id="username" value={{username}}>
                </div>
            </div>

            <div class="form-group row">
                <label for="fname" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                    <input name="fname" readonly class="form-control-plaintext" placeholder="First Name" type="text"
                        id="fname" value={{fname}}>
                </div>
            </div>
            <div class="form-group row">
                <label for="lname" class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                    <input name="lname" readonly class="form-control-plaintext" placeholder="Last Name" type="text"
                        id="lname" value={{lname}}>
                </div>
            </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <select name="gender" readonly class="form-control-plaintext" placeholder="Gender" id="gender">
                        {{#select gender}}
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        {{/select}}
                    </select>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-dark btn-block mt-4"> Submit </button>
                </div>

            </form>

        </article>
    </div>
<script src="/javascripts/editownerprofile.js"></script>
{{/sitter}}