{{#> default }}
    <div class="container justify-content-center align-items-center mt-3 mb-3">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                    <div class="card shadow">
                        <img src="https://images.unsplash.com/photo-1591838971394-81a7862dcac0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=709&q=80"
                            alt="" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title">Register</h5>
                            <form action="/register" method="POST" class="validated-form" novalidate>
                                <div class="row mb-3">
                                    <div class="col">
                                        <label class="form-label" for="fname">First Name</label>
                                        <input class="form-control" type="text" id="fname" name="user[fname]" required
                                            autofocus>
                                    </div>
                                    <div class="col">
                                        <label class="form-label" for="lname">Last Name</label>
                                        <input class="form-control" type="text" id="lname" name="user[lname]" required
                                            autofocus>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <label for="gender" class="form-label">Gender</label>
                                        <select class="form-select" aria-label="gender" id="gender" name="user[gender]">
                                            <option value="" disabled>Please Select</option>
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label for="birthYear" class="form-label">Birth Year (A.D)</label>
                                        <input type="text" class="form-control" id="birthYear" aria-label="birthYear"
                                            name="user[birthYear]" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="username">Username</label>
                                    <input class="form-control" type="text" id="username" name="user[email]" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="password">Password</label>
                                    <input class="form-control" type="password" id="password" name="user[password]"
                                        required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-success">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
{{/ default }}