{{#> sitter}}

    <div class="h-100 col-6 offset-6 col-lg-4 offset-lg-8">
        
        <div class="card mx-2 register-popup">
            <article class="card-body p-5">
                <h4 class="card-title mb-4 mt-1">Register</h4>

                <form action="/account/register/pet" method="POST" class="validated-form petsitter-register" novalidate>
                    <div class="form-group">
                        <label for="type">Pet Type</label>
                        <select name="type" class="form-control" placeholder="Type">
                            <option value="dog">Dog</option>
                            <option value="cat">Cat</option>
                            <option value="reptile">Reptile</option>
                            <option value="horse">Horse</option>
                            <option value="fish">Fish</option>
                            <option value="bird">Bird</option>
                            <option value="poultry">Poultry</option>
                            <option value="livestock">Livestock</option>
                            <option value="small pet">Small Pet</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="name">Pet Name</label>
                        <input name="name" class="form-control" placeholder="Pet Name" type="text">
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <select name="gender" class="form-control" placeholder="Gender">
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="yearOfBirth">Year Of Birth</label>
                        <input name="yearOfBirth" class="form-control" placeholder="Year Of Birth" type="text" pattern="[0-9]{4}">
                    </div>
                    <div class="form-group">
                        <label for="appearance">Appearance</label>
                        <input name="appearance" class="form-control" placeholder="Describe your pet appearance" type="text">
                    </div>

                    <input class="form-control d-none" type="text" name="picUrl" value="/public/image/default_img_profile.png">
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-dark btn-block mt-4">Register</button>
                    </div>
                </form>
            </article>
        </div>
    </div>
{{/sitter}}
