<div class="mb-3">
                                <label class="form-label" for="name">Full Name</label>
                                <input class="form-control" type="text" id="name" name="user[name]" required autofocus>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>

<div class="row mb-3">
	<div class="col">
		<label class="form-label" for="fname">First Name</label>
        <input class="form-control" type="text" id="fname" name="user[fname]" required autofocus>
	</div>
	<div class="col">
		<label class="form-label" for="lfame">Last Name</label>
        <input class="form-control" type="text" id="lname" name="user[lname]" required autofocus>
	</div>
</div>

<select class="custom-select">
  <option selected>Please Select</option>
  <option value="male">Male</option>
  <option value="female">Female</option>
</select>