<nav class="navbar navbar-expand-lg navbar-light" style='margin-top:5px;background-color= rgba(255, 165, 0, 0);'>
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler bg-secondary" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav font-weight-bolder ml-auto">
            <li class="nav-item mr-3">
                <a class="nav-link text-white" href="/">HOME</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link text-white" href="">MY BOOKINGS</a>
            </li>
            <li class="nav-item dropdown mx-3">
                <div class="d-flex flex-row">
                    <div class='d-flex flex-column mr-2'>
                        <div class='align-self-end' style='font-size: 10px'>pet owner</div>
                        {{!-- <div style='font-size: 15px'>{{pet_owner.fullName}}</div> --}}
                        <div style='font-size: 15px'>Gark</div>
                    </div>
                    <div>
                        <a class="nav-link dropdown-toggle p-0"
                        id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" 
                        aria-haspopup="true" aria-expanded="false"
                        >
                            <div class="circular--landscape--nav align-self-center">
                                {{!-- <img src='{{pet_owner.picUrl}}'> --}}
                                <img src='/image/profile.png'>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/account">My Profile</a>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item" style='margin-top:5px'>
                <i class="fa fa-bell" style='font-size:25px' aria-hidden="true" role="button" onClick="(function(){alert('เจ้าโง่ คิดไงมากดกระดิ่งของฟาล่ะ');return false;})();return false;"></i>
            </li>
        </ul>
    </div>
</nav>