{{#> default }}
    <div class="">
        <span>SEARCH RESULT</span>
        <i class="fas fa-chevron-right"></i>
        <span>PETSITTER NAME</span>
        <i></i>
        <span>REVIEWS AND RATINGS</span>
    </div>
    <div class="reviewAndRating" style="display: flex">
        <div class="profileAndRatings">
            <div class="profile" style="display: flex">
                <div class="profile-pic">
                    Picture
                    <img>
                    <span> star star star</span>
                </div>
                <div class="profile-desc">
                    <h4>MCKENZIE B</h4>
                    <span>Dedicated petsitter in the portland area !</span>
                    <span>Portland, Maine</span>
                    <span>Online Now</span>
                </div>
            </div>
            <div class="ratings">
                <h4>Customer Reviews</h4>
                <div class="overall-rating">
                    <p>4.7 out of 5</p>
                    <p>40 custoner ratings</p>
                </div>
                <div class="percent-rating">
                    <p>5 stars -> 84 %</p>
                    <p>4 stars -> 9 %</p>
                    <p>3 stars -> 4 %</p>
                    <p>2 stars -> 2 %</p>
                    <p>1 stars -> 1 %</p>
                </div>
            </div>
        </div>
        <div class="reviews">
            <h3>Reviews (82)</h3>
            <div class="reviews-list">
                <div class="review">
                    <div class="reviewer-pic">
                        <img>
                    </div>
                    <div class="review-desc">
                        <span>Imelda</span>
                        <div>Starrrr...</div>
                        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, adipisci fugit est eveniet assumenda voluptatibus vel omnis asperiores molestias sit tempore minus temporibus ut et. Cupiditate in numquam tempora aliquid.</div>
                        <span>New York City, NY, US - 09 OCT - 12 OCT 2020</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/default}}
