
{{#> default}}

	<!--font-awesome star icon-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<!--Golf's stylesheet-->
	<link rel="stylesheet" href="/stylesheets/review/reviewAndRating.css" />


	<nav aria-label="breadcrumb">
		<ol class="breadcrumb my-2 bg-white">
			<li class="breadcrumb-item"><a href="#">NOTIFICATION</a></li>
			<li class="breadcrumb-item">REVIEW PETSITTER</li>
			<li class="breadcrumb-item active">FINISH</li>
		</ol>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 style="text-align: center;">Your review has been recorded</h2>
			</div>
			<div class="col-12">
				<h2 style="text-align: center;">Thank you</h2>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-12">
				<a href="/">
					<h2 style="text-align: center;"> >>CLICK HERE TO RETURN HOME<< </h2>
				</a>
			</div>
		</div>
	</div>

	<footer class="footer bg-dark text-white py-2 mt-auto fixed-bottom">
		<div class="container">
			<span class="text-scg">&copy;Untitled 2020</span>
		</div>
	</footer>

{{/default}}