{{#>default title="Successful submission"}}

	<!--font-awesome star icon-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<!--Golf's stylesheet-->
	<link rel="stylesheet" href="/stylesheets/review/reviewAndRating.css" />

	<div class='mb-4 mx-3'>
		<a class="align-self-center mt-5 btn-warning mb-3 rounded-pil text-dark" href="/book/my">
					<p style="font-weight:bold"> 
						<< back </p>
				</a>
                
            </div>

	<div class="container">
		<div class="row">
			<div class="col-12">
				<h3 style="text-align: center;">Your review has been submitted.</h3>
			</div>
			<div class="col-12">
				<h2 style="text-align: center;">Thank you for your service.</h2>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-12">
			
				<a class="align-self-center btn-warning mb-3 rounded-pil text-white" href="/">
					<h2 style="text-align: center; font-weight:bold"> >> CLICK HERE TO RETURN HOME << </h2>
				</a>
			</div>
		</div>
	</div>

	<footer class="footer bg-dark text-white py-2 mt-auto fixed-bottom">
		<div class="container">
			<span class="text-scg">&copy;Untitled 2020</span>
		</div>
	</footer>


{{/default}}