<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Test 1</title>
    
		<!-- Required meta tags always come first -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<meta http-equiv="x-ua-compatible" content="ie=edge">
		
		
	</head>
	<body>
		<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
			<div class="container">
				<button
					class="navbar-toggler"
					type="button"
					data-toggle="collapse"
					data-target="#Navbar"
				>
					<span class="navbar-toggler-icon"></span>
				</button>

				
			</div>
		</nav>
	</body>
</html>