body {
    background-image: url("/image/bg-profile.png");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}