body {
    background-image: url("/image/homeBackground.png");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#navbar {
    background-image: none;
    background-color: transparent;
    overflow: visible;
}

.text {
    position: relative;
    top: 6rem;
    right: 8rem;
    width: 125%;
}

.slogan-text{
    font-size: 3.25rem;
}

.form-group {
    margin-bottom: 0.5rem;
}

.login-popup {
    position: relative;
    right: 2.5rem;
    top: 4rem;
    font-size: 0.75rem;
}

.register-popup {
    position: relative;
    right: 2.5rem;
    top: 1rem;
    font-size: 0.75rem;
}

.deactived {
    color: #DCDCDC;
    border-bottom: 0px solid #0275d8;
}

.actived {
    color: black;
    border-bottom: 2px solid #0275d8;
}