body {
    background-image:url("/image/bg-profile.png");
    /* Full height
    height: 100%;
    Center and scale the image nicely */

    background-repeat:no-repeat ,repeat;

	background-attachment:scroll ,fixed;

} 

.bg-experince {
	background-color:rgb(242, 242, 242);
	border-radius: 25px;
  }


.bg-glassy {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 4px 16px 0 rgba( 31, 38, 135, 0.17 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

.circular--landscape-v2 {
	display: inline-block;
	position: relative;
	width: 128px;
	height: 128px;
	overflow: hidden;
	border-radius: 50%;
  }
  
  .circular--landscape-v2 img {
	width: auto;
	height: 100%;
	max-height: 20px;
	margin-left: 0px;
	margin-top: 0px;
  }

.profile-frame {
    padding: 20px 0px 100px 0px;
    background-color: white;
    border-radius: 150px;
    margin: 20px auto;
    width: 300px;
}

.frame-icon {
	background-color:dimgray;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	margin-bottom: 5px;
	display: flex;
	justify-content: center!important;
	align-self: center!important;
}


.activity-icon {
	font-size: 25px;
	color:white;
	align-self: center!important;
}

.selected-icon {
	border-color:dimgray;
	background-color:black;
	color: white;
}

.hover-icon {
	opacity: 0.6;
	width: 55px;
	height: 55px;
	margin-bottom: 10px;
}

.wrapper-icon {
	width: 100px;
	height: 110px;
	margin: 10px 2px 0px 2px;
	display: flex;
	justify-content: start;
	flex-direction: column;
}

.wrapper-icon p {
	margin-bottom: 0;
	text-align: center!important;
	align-self: center!important;
}

.wrapper-all-icon {
    background-color: white;
    padding: 10px 0px 10px 0px; 
    margin-bottom: 20px;
}

.cancel_button {
	width:49%; 
	background-color: rgba(256,256,256,0); 
	border-radius:15px;
}

.save_button {
	width:49%; 
	border-radius:15px;
}

