body {
	background-image: url("/image/0home.png");
	background-repeat: no-repeat;
	background-position: 0px -91vh;
	background-size: 100% 100%;
}

.circular--landscape {
	display: inline-block;
	position: relative;
	width: 170px;
	height: 170px;
	overflow: hidden;
	border-radius: 50%;
  }
  
  .circular--landscape img {
	width: auto;
	height: 100%;
	max-height: 170px;
	margin-left: 0px;
	margin-top: 0px;
  }

  .circular--landscape--review {
	display: inline-block;
	position: relative;
	width: 75px;
	height: 75px;
	overflow: hidden;
	border-radius: 50%;
  }

  .circular--landscape--review img {
	width: auto;
	height: auto;
	max-height: 75px;
	margin-left: 0px;
	/* margin-top: -7.5px; */
  }

  .checked {
	color: orange;
  }


  .book-info-padding {
	padding-right: 5%;
	padding-left: 5%;
}
  
.percent-rating .col-2 {
	padding-right: 0;
	padding-left: 0;
}

.percent-rating .col-2 p{
	font-weight: 600;
}

.percent-rating .col-2 p.text-primary{
	text-align: right;
}

.progress-petsitter-info {
	border-radius:10px; 
	overflow: visible;
}

.progress-bar {
	width: 0; 
	border-radius: 50px; 
	box-shadow: 0 4px 8px 0 rgba(253, 204, 71, 0.2), 0 6px 20px 0 rgba(253, 204, 71, 0.19);
	background-color:rgb(253, 204, 71);
}

  .hl {
	  border-top: 1px solid rgb(202, 202, 202);
	  width: 100%;
  }

  .bg-gray-info {
	background-color:rgb(242, 242, 242);
	height:8%;
	margin:0;
	border-radius: 25px;
  }

  .vl-middle-page {
	border-right: 2px solid rgb(202, 202, 202);
		position: fixed;
		top: 100px;
		right: 50%;
		height: 600px;
  }

  .warapper-scrollable {
	height: 100%;
	/* border: 1px solid #ddd; */
	overflow-y: auto;
}

.frame-all-star {
	width: auto; 
	font-weight: 400; 
	font-size: 16px;
	padding: 20px 40px;
}

.frame-all-star .fa {
	font-size: 25px;
	margin: 0 7px;	
}

.warapper-scrollable::-webkit-scrollbar{
	width: 0;
}

  @media (max-width: 992px) {
	.vl-middle-page {
		display: none;
	}

	.warapper-scrollable {
		/* border: 1px solid #ddd; */
		overflow-y: visible;
	}
  }