body {
	background-image: url("/image/bg-profile.png");
	background-repeat: no-repeat;

}

.tipBannerStyled {
	background-color: rgb(243, 249, 242);
    color: rgb(40, 135, 28);
    padding: 4px;
    margin-top: calc(13px);
    border-radius: 2px;
    position: relative;
    align-self: flex-end;
    margin-bottom: 0px;
	width: 250px;
}

.triangleArrow {
	left: 75%;
	display: block;
    content: " ";
    position: absolute;
    bottom: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(243, 249, 242);

}

.bd-callout {
    padding: 1.25rem;
	padding-left: 2rem;
	padding-right: 2rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
	background: white;
	/*
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
	*/
}

.bd-callout-successs {
    border-left-color: #28a745;
}

.card-profile {
	max-width:250px;
}

.circular--landscape {
	display: inline-block;
	position: relative;
	width: 170px;
	height: 170px;
	overflow: hidden;
	border-radius: 50%;
  }
  
  .circular--landscape img {
	width: auto;
	height: 100%;
	max-height: 170px;
	margin-left: 0px;
	margin-top: 0px;
  }

  .circular--landscape--review {
	display: inline-block;
	position: relative;
	width: 75px;
	height: 75px;
	overflow: hidden;
	border-radius: 50%;
  }

  .circular--landscape--review img {
	width: auto;
	height: auto;
	max-height: 75px;
	margin-left: 0px;
	/* margin-top: -7.5px; */
  }

  .circular--landscape--nav {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 50%;

  }

  .circular--landscape--nav img {
	width: auto;
	max-height: 40px;
	height: 100%;
	margin-left: 0px;
	margin-top: 0px;
  }

  .checked {
	color: orange;
  }

  div > .fa-clock-o {
	font-size: 200%;
  }

  div > .fa-usd {
	font-size: 170%;
  }

  
  .book-info-padding {
	padding-right: 5%;
	padding-left: 5%;
}
  
  .hl {
	  border-top: 1px solid rgb(202, 202, 202);
	  width: 100%;
  }

  .bg-experince {
	background-color:rgb(242, 242, 242);
	border-radius: 25px;
  }

  .bg-gray-info {
	background-color:rgb(242, 242, 242);
	width:100%;
	height:8%;
  }

  .vl-middle-page {
	border-right: 2px solid rgb(202, 202, 202);
		position: fixed;
		top: 100px;
		right: 50%;
		height: 600px;
  }

.half-star-custom {
	position: relative;
}

.half-star-custom .star-top {
	position: absolute;
	left: 0px;
	top: 0.5px;
	z-index:0;
	
}

  .text-nav-selfmade {
	  color:#fff!important;
  }

  .warapper-scrollable {
	  max-height: 800px;
	  /* border: 1px solid #ddd; */
	  overflow-y: auto;
  }

  .warapper-scrollable::-webkit-scrollbar{
	  width: 0;
  }

  .tellWhereToDrop {
	background-color:red;
  }

  @media (max-width: 992px) {
	.book-profile-padding {
		padding-left: 5%;
	}

	.text-nav-selfmade {
		color: black!important;
	}

	.warapper-scrollable {
		/* border: 1px solid #ddd; */
		overflow-y: visible;
	}

	.navbar-collapse.justify-content-end.collapse.show {
		background-color: rgba(255, 255, 255, .15);  
 		backdrop-filter: blur(5px);
	}
  }
