body {
	background-image:url('/image/logo1.png'), url("/image/bg-profile.png");
    /* Full height
    height: 100%;
    Center and scale the image nicely */
    background-position:10px 2px, center;
    background-repeat:no-repeat ,repeat;
    background-size:190px, 100% 100%;  
	background-attachment:scroll ,fixed;
}
.status{
	font-size:1rem;
	background-color:rgb(0, 187, 72);
	font-weight: 500;
}
.detail{
	font-size: small;
}

.bg-glassy {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 4px 16px 0 rgba( 31, 38, 135, 0.17 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

.page-header {
    font-weight: 700;
    font-size: 2rem;
	color:white;
}

.row-list {
	width: 340;
}

.cardItem {
	background-color: white;
	
	width: 340px;
}
.card{
	border-color: white;
}

.card-wrap{
	width: 370px;
}
.card-body{
	font-size: 0.75rem;
}
.ratings i {
    color:#f39c12;
}
.text-black-50 {
	font-size: 0.75rem;
}

.install span {
    font-size: 12px
}

.text-star {
	display:none;
}

.col-md-4 {
    margin-top: 27px
}
.circular--landscape-v2 {
	display: inline-block;
	position: relative;
	width: 260px;
	height: 260px;
	overflow: hidden;
	border-radius: 50%;
  }
  
  .circular--landscape-v2 img {
	width: auto;
	height: 100%;
	max-height: 260px;
	margin-left: 0px;
	margin-top: 0px;
  }

  .checked {
	color: orange;
  }

  div > .fa-clock-o {
	font-size: 200%;
  }

  div > .fa-usd {
	font-size: 170%;
  }

  
  .hl {
	  border-top: 1px solid rgb(202, 202, 202);
	  width: 100%;
  }

  .wow {
	flex-direction: row ;
	justify-content: space-between ;
  }

  @media (min-width: 540px) {
	.rounded-pill.shadow-lg {
		min-width:420px;
	}
  }

  @media (max-width: 540px) {
	.wow {
		flex-direction: column;
		justify-content: center;
	}

	.wow > div {
		margin: 0.5rem 0;
		align-self: center !important;
		text-align: center;
	}
	
}

  @media (max-width: 992px) {
	.text-nav-selfmade {
		color: black!important;
	}
  }

  #calenderWrapper {
	background-color: white;
	padding: 10px;
	border-radius: 20px;
  }