.dropzone {
	background-color:#333;
	padding: 1rem;
	margin-top: 1rem;
    margin-bottom: 1rem;
	border-radius: 30px;
}

.draggable {
	background-color: white;
	border-radius: 30px;
	cursor: move;
	padding-left: 1rem;
 }

.draggable.dragging {
	opacity: .5;
}